:root {
  --b: #fff9eb;
  --t: #070403;
  --h: #423124;
  --1: #ad9c7f;
  --2: #4a3728;
  --3: #e6dbcaf2;
  --4: #eadccd33;
  --r: #c00;
  --a: #0b4fd5;
  --x: #c74a23;
  --d: #2d806e;
  --s: #fff;
  --k: #efefef;
  --kt: #2c1810;
  --kh: #d2d2d2;
  --r1: .5rem;
  --r2: .75rem;
  --r3: 1rem;
  --r4: 1.25rem;
  --r5: 1.75rem;
}

.dark {
  color-scheme: dark;
  --b: #1d1f20;
  --t: #ededed;
  --h: #f8f7f7;
  --1: #303030;
  --2: #808080;
  --3: #404040;
  --4: #1a1d1e;
  --r: #e15668;
  --a: #5c88c1;
  --x: #d66b79;
  --d: #1a9e86;
  --s: #3b3b3b;
  --k: #404040;
  --kt: #f8f7f7;
  --kh: #222426;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, sans-serif;
  font-size: clamp(15.05px, calc(14.392px + .2056vw), 17.2px);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

input, button, select {
  font-family: inherit;
  font-size: inherit;
}

body {
  color: var(--t);
  background-color: var(--b);
}

header {
  margin: 2.5rem 0;
}

h1 {
  font-size: clamp(1.5rem, 1.6rem + 1vw, 2.3rem);
}

.lead {
  font-size: clamp(1rem, 1.1rem + .4vw, 1.4rem);
  font-weight: 300;
  margin: var(--r2) 0 var(--r5) 0;
}

h2, h3 {
  font-size: 1.5rem;
  margin: var(--r5) 0 var(--r1);
}

h2 + h3, p {
  margin-top: var(--r2);
}

h4 {
  font-size: 1.125rem;
  margin: 1.5rem 0 var(--r1);
}

ul {
  list-style-type: none;
}

a {
  color: var(--a);
  text-decoration: none;
}

svg {
  display: block;
}

button, .btn {
  touch-action: manipulation;
}

.btn {
  padding: .25rem var(--r1);
  height: 2rem;
  color: var(--kt);
  background-color: var(--k);
  border: 1px solid var(--2);
  border-radius: 5px;
}

nav {
  border-bottom: 2px solid var(--2);
}

.nav {
  width: 100%;
  min-height: 3.75rem;
  margin: 0 var(--r1);
  align-items: center;
}

.nav ul {
  margin-left: auto;
  gap: var(--r1);
}

.nav a {
  display: inline-flex;
  padding: 0 var(--r1);
  align-items: center;
  height: 2.7rem;
}

.nav svg {
  width: 1.7rem;
  height: 1.7rem;
}

#menu {
  width: 3.4375rem;
  height: 2.8rem;
  background-color: var(--b);
  border: 2px solid var(--2);
  border-radius: 5px;
}

#menu svg {
  width: 2.125rem;
  height: 2.125rem;
}

.sidebar {
  position: fixed;
  top: .4375rem;
  width: 17rem;
  max-height: calc(100vh - .875rem);
  flex-direction: column;
  background-color: var(--b);
  border: 2px solid var(--2);
  border-left-width: 0;
  border-radius: 0 10px 10px 0;
  transform: translateX(-103%);
  z-index: 2;
}

.sidebar[aria-hidden="false"] {
  transform: translateX(0);
}

main {
  width: min(100% - var(--r4), 87rem);
  margin-inline: auto;
}

ol {
  font-size: .9rem;
  margin: var(--r2) 0 var(--r1) var(--r5);
}

ol ul {
  list-style-type: disc;
}

.flex {
  display: flex;
}

.ac {
  align-items: center;
}

.jc {
  justify-content: center;
}

.r {
  color: var(--r);
}

.g {
  color: var(--d);
}

header, footer {
  text-align: center;
}

html, .sh h2 {
  line-height: 1.6;
}

h3, h4, nav a {
  line-height: 1.15;
}

.sh h2, h2, h3, h4, nav a, strong {
  font-weight: 600;
}

nav, .sh {
  background-color: var(--1);
}

h1, h2, h3, h4, nav a, #menu svg, .close svg {
  color: var(--h);
}

.sidebar {
  contain: layout;
}
