/* VARIABLES 
------------ */
:root {
  /* COLORS: b:background, t:text, h:heading, 1:primary, 2:secondary, 3:tertiary, 4:hover-tablerow r:red, a:anchor/link, x:not-checked, d:done, s:select, k:btn, kt:btn-text, kh:btn-hover
  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  --b: #fff9eb;
  --t: #070403;
  --h: #423124;
  --c1: #ad9c7f;
  --c2: #4a3728;
  --c3: #e6dbcaf2;
  --c4: #eadccd33;
  --r: #c00;
  --a: #0b4fd5;
  --x: #c74a23;
  --d: #2d806e;
  --s: #fff;
  --k: #efefef;
  --kt: #2c1810;
  --kh: #d2d2d2;

  /* SPACING 
  ---------- */
  --r1: .5rem;
  --r2: .75rem;
  --r3: 1rem;
  --r4: 1.25rem;
  --r5: 1.75rem;
}

/* DARK MODE
------------  */
.dark {
  color-scheme: dark;
  --b: #1d1f20;
  --t: #ededed;
  --h: #f8f7f7;
  --c1: #303030;
  --c2: #808080;
  --c3: #404040;
  --c4: #1a1d1e;
  --r: #e15668;
  --a: #5c88c1;
  --x: #d66b79;
  --d: #1a9e86;
  --s: #3b3b3b;
  --k: #404040;
  --kt: #f8f7f7;
  --kh: #222426;
}

/* ANIMATIONS 
------------- */
@media (prefers-reduced-motion: no-preference) {
  .sidebar {
    transition: transform .3s ease;
  }

  #up {
    transition: opacity .2s ease-out, transform .2s ease-out;
  }
}

/* DEFAULTS 
----------- */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus-visible {
  outline: 2px solid var(--h);
  border-radius: 2px;
}

html {
  font-family: system-ui, sans-serif;
  font-size: clamp(15.05px, calc(14.392px + .2056vw), 17.2px);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

input, button, select {
  font-family: inherit;
  font-size: inherit;
}

body {
  color: var(--t);
  background-color: var(--b);
}

header {
  margin: 2.5rem 0;
}

h1 {
  font-size: clamp(1.5rem, 1.6rem + 1vw, 2.3rem);
}

.lead {
  font-size: clamp(1rem, 1.1rem + .4vw, 1.4rem);
  font-weight: 300;
  margin: var(--r2) 0 var(--r5) 0;
}

h2, h3 {
  font-size: 1.5rem;
  margin: var(--r5) 0 var(--r1);
}

h2 + h3, p {
  margin-top: var(--r2);
}

h4 {
  font-size: 1.125rem;
  margin: 1.5rem 0 var(--r1);
}

ol {
  margin: var(--r2) 0 var(--r1) var(--r5);

  & ul {
    list-style-type: disc;
  }
}

ul {
  list-style-type: none;
}

li ul {
  padding-left: var(--r5);
}

a {
  color: var(--a);
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

kbd {
  padding: .15em .45em;
  color: var(--kt);
  background-color: var(--k);
  border: 1px solid var(--c2);
  border-radius: 3px;
  box-shadow: 0 1px 0 var(--c2);
}

svg {
  display: block;
}

button, .btn {
  touch-action: manipulation;
}

.btn {
  padding: .25rem var(--r1);
  height: 2rem;
  color: var(--kt);
  background-color: var(--k);
  border: 1px solid var(--c2);
  border-radius: 5px;

  &:hover {
    background-color: var(--kh);
  }
}

#scroll {
  position: absolute;
  top: 500px;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

#up {
  position: fixed;
  right: var(--r4);
  bottom: var(--r4);
  padding: var(--r1);
  height: auto;
  border: 2px solid var(--c2);
  border-radius: 50%;
  opacity: 0;
  transform: translateY(100px);

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  & svg {
    width: var(--r5);
    height: var(--r5);
  }
}

#search, select {
  width: 100%;
  height: 2.375rem;
  padding: 0 .5em;
  color: var(--kt);
  background-color: var(--s);
  border: 1px solid grey;
  border-radius: 5px;
}

#search, .options h2, select {
  margin-bottom: var(--r2);
}

/* NAVIGATION 
------------- */
nav {
  border-bottom: 2px solid var(--c2);

  & a:hover {
    text-decoration: none;
  }
}

.nav {
  width: 100%;
  min-height: 3.75rem;
  margin: 0 var(--r1);
  align-items: center;

  & ul {
    margin-left: auto;
    gap: var(--r1);
  }

  & a {
    display: inline-flex;
    padding: 0 var(--r1);
    align-items: center;
    height: 2.7rem;

    &:hover {
      background-color: var(--b);
      border-radius: 5px;
    }
  }

  & svg {
    width: 1.7rem;
    height: 1.7rem;
  }
}

#menu {
  width: 3.4375rem;
  height: 2.8rem;
  background-color: var(--b);
  border: 2px solid var(--c2);
  border-radius: 5px;

  & svg {
    width: 2.125rem;
    height: 2.125rem;
  }
}

/* SIDEBAR 
---------- */
.sidebar {
  position: fixed;
  top: .4375rem;
  width: 17rem;
  max-height: calc(100vh - .875rem);
  flex-direction: column;
  background-color: var(--b);
  border: 2px solid var(--c2);
  border-left-width: 0;
  border-radius: 0 10px 10px 0;
  transform: translateX(-103%);
  z-index: 2;

  &[aria-hidden=false] {
    transform: translateX(0);
  }
}

.sh {
  min-height: 3.3125rem;
  border-top-right-radius: 7px;
  border-bottom: 2px solid var(--c2);

  & h2 {
    margin: 0;
  }
 }

.close {
  position: absolute;
  top: var(--r2);
  right: .3125rem;
  width: 2.375rem;
  height: 2.125rem;
  background: none;
  border: none;

  &:hover {
    background-color: var(--b);
  }

  & svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.sheets {
  padding: var(--r1);
  overflow-y: auto;
  overscroll-behavior: contain;

  & li {
    border-bottom: 1px dotted var(--c2);
  }
  
  & li:hover {
    background-color: var(--c3);
    border-radius: .25em;
  }

  & a {
    display: block;
    padding: var(--r2);
  }
}

/* CONTAINERS 
------------- */
main {
  width: min(100% - var(--r4), 87rem);
  margin-inline: auto;
}

footer {
  padding: var(--r4) 0 var(--r1);
  font-size: .8rem;
}

/* OPTIONS 
---------- */
.filter {
  display: flex;
  flex-wrap: wrap;
  gap: var(--r1);
}

.options label {
  padding: .3rem 0 var(--r1) 0;
}

.mgm {
  margin-bottom: var(--r3);
}

/* CHECKLISTS
------------- */
.toc {
  margin-bottom: var(--r5);
  background: none;
  border-bottom: none;

  & a:hover {
    text-decoration: underline;
  }
}

hr {
  position: relative;
  margin: .3rem 0;
  width: 15rem;
  border: 0;
  text-align: center;
}

hr::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--h), transparent);
}

hr::after {
  content: attr(data-content);
  position: relative;
  padding: 0 1rem;
  color: var(--h);
  background: var(--b);
}

nav span, h2 span, h3 span {
  margin-left: var(--r1);
  padding: 0 .25em .065em;
  color: var(--b);
  background-color: var(--x);
  border-radius: .25em;
  font-size: .9em;
}

.d {
  background-color: var(--d);
}

#hide svg {
  width: 1.5rem;
  height: 1.5rem;
}

#showSvg, .hide #hideSvg {
  display: block;
}

#hideSvg, .hide #showSvg {
  display: none;
}

.col {
  position: relative;
  margin-right: var(--r1);
  width: 2.2rem;
  height: 1.75rem;
  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border: solid var(--h);
    border-width: 0 3px 3px 0;
    transform: translateY(-2px) rotate(45deg);
  }

  &[aria-expanded=true]::before {
    transform: translateY(2px) rotate(-135deg);
  }
}

label {
  display: inline-block;
  padding: .16rem 0 .16rem 2.75rem;
}

input[type=checkbox] {
  position: absolute;
  left: var(--r3);
  top: .4rem;
  width: 20px;
  height: 20px;
  accent-color: var(--d);
}

@media (hover: hover) {
  input[type=checkbox]:hover {
    transform: scale(1.1);
  }
}

.c > label {
  text-decoration: line-through;
}

/* TABLES
--------- */
.tw {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--r3)
}

caption {
  margin-bottom: var(--r1);
}

th, td {
  padding: .7rem;
  border: 1px solid var(--c2);
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: var(--c4);
}

tr:hover {
  td, th[scope=row] {
    background-color: var(--c3);
  }
}

/* UTILITY
---------- */
.flex { display: flex; }
.ac { align-items: center; }
.jc { justify-content: center; }
.list { list-style-type: disc; margin: var(--r2) 0 var(--r1) var(--r5); }
.r { color: var(--r); }
.g { color: var(--d); }

/* REPEATED 
------------- */
header, footer, th, td { text-align: center; }
caption, th[scope=row] { text-align: left; }
ol, kbd { font-size: .9rem; }
html, label, .sh h2, .toc { line-height: 1.6; }
h3, h4, nav a { line-height: 1.15; }
.sh h2, h2, h3, h4, nav a, nav span, caption, strong { font-weight: 600; }
select, button, input[type=checkbox], label { cursor: pointer; }
.f, .hide .c > label, .hide .c > input[type=checkbox] { display: none !important; }
li { position: relative; }
form > ul, .sidebar, .toc, .tw { contain: layout; }
h1, h2, h3, h4, nav a, caption, th[scope=col], #menu svg, .close svg { color: var(--h); }
nav, .sh, th[scope=col] { background-color: var(--c1); }

/* PRINT
-------- */
@media print {
  :root {
    --b: #fff;
    --t: #000;
    --h: #000;
    --r: #000;
    --d: #000;
    --a: #000;
    --k: #fff;
    --kt: #000;
  }

  nav, .toc h2, .toc span, input[type=checkbox], footer, search, .filter, h3 button, h3 span, #up, .alert {
    display: none !important;
  }

  label {
    padding: 0;
    text-decoration: none !important;
  }

  a {
    text-decoration: underline;
  }

  .toc {
    display: block !important;
  }
}
