/* SHARED
--------- */

/* COMPONENTS
------------- */
#skip-link {
  z-index: 3;
  padding: 0.5em 1em;
  background-color: var(--background);
  color: var(--link);
  border-radius: 0 0 0.3125rem 0.3125rem;
}

#skip-link:focus {
  outline: 0.125rem solid var(--nav-border);
  text-decoration: underline;
  transform: translateY(0);
}

.nav-list a {
  height: 2.7rem;
}

.nav-list a:active {
  background-color: var(--background);
  border-radius: 0.3125rem;
  text-decoration: none;
}

#sidebar {
  contain: layout;
  z-index: 2;
  flex-direction: column;
  top: 0.6875rem;
  width: 17rem;
  max-height: calc(100svh - 1.2rem);
  background-color: var(--background);
  border: 0.125rem solid var(--nav-border);
  border-left-width: 0;
  border-radius: 0 0.625rem 0.625rem 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3.3125rem;
  background-color: var(--nav);
  border-bottom: 0.125em solid var(--nav-border);
  border-top-right-radius: 0.5rem;
}

#sidebar-title {
  margin: 0;
  color: var(--nav-text);
}

#close-btn {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0.6875rem 0.5rem auto auto;
  width: 2.375rem;
  height: 2.125rem;
  background: none;
  border: none;
}

#close-btn:active {
  background-color: var(--background);
}

#close-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--nav-text);
}

svg {
  display: block;
}

#sheets {
  padding: 0.5rem;
  overflow-y: auto;
  overscroll-behavior: contain;
}

#sheets a {
  display: block;
  padding: 0.75rem;
  color: var(--text);
  border-bottom: 0.0625rem dotted var(--nav-border);
  line-height: 1.2;
}

#sheets a:active {
  background-color: var(--sidebar-hover);
  border-radius: 0.25rem;
  text-decoration: none;
}

h1 {
  color: var(--heading);
}

#hideSvg {
  width: 1.5rem;
  height: 1.5rem;
}

#showSvg,
.hide-checked #hideSvg {
  display: block;
}

.hide-checked #showSvg {
  display: none;
}

kbd {
  background-color: var(--button);
  border: 0.0625rem solid var(--nav-border);
  border-radius: 0.1875rem;
  box-shadow: 0 0.0625rem 0 var(--nav-border);
}

#up-btn {
  position: fixed;
  inset: auto 1.25rem 1.25rem auto;
  height: auto;
  padding: 0.5rem;
  border: 2px solid var(--nav-border);
  border-radius: 50%;
  opacity: 0;
  transform: translateY(100px);
}

#up-btn.show {
  opacity: 1;
  transform: translateY(0);
}

#up-arrow {
  width: 1.75rem;
  height: 1.75rem;
}

/* --> */

button,
.btn {
  touch-action: manipulation;
}

.btn:active {
  background-color: var(--button-hover);
}

a:active {
  text-decoration: underline;
}

footer a:active {
  color: var(--link);
}

select,
button,
input[type=checkbox],
label {
  cursor: pointer;
}

#announcer {
  position: absolute;
  top: auto;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* MEDIA QUERIES
---------------- */
@media (prefers-reduced-motion: no-preference) {
  #skip-link {
    transition: transform 0.2s;
  }

  #sidebar {
    transition: transform 0.3s ease;
  }

  #up-btn {
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  }
}

@media (hover: hover) {
  .nav-list a:hover {
    background-color: var(--background);
    border-radius: 0.3125rem;
    text-decoration: none;
  }

  #close-btn:hover {
    background-color: var(--background);
  }

  #sheets a:hover {
    background-color: var(--sidebar-hover);
    border-radius: 4px;
    text-decoration: none;
  }

  .btn:hover {
    background-color: var(--button-hover);
  }

  .check-all:hover {
    filter: brightness(1.1);
  }

  input[type=checkbox]:hover {
    transform: scale(1.1);
  }

  a:hover {
    text-decoration: underline;
  }

  footer a:hover {
    color: var(--link);
  }
}

@media print {
  :root {
    --background: #fff;
    --text: #000;
    --heading: #000;
    --red: #000;
    --done: #000;
    --link: #000;
    --button: #fff;
  }

  #skip-link,
  nav,
  #search,
  button,
  abbr {
    display: none !important;
  }

  label {
    padding-left: 1.25rem;
    text-decoration: none !important;
  }

  input[type=checkbox] {
    left: 0;
  }

  a {
    text-decoration: underline;
  }
}
