:root {
  --b: #fff9eb;
  --t: #070403;
  --h: #423124;
  --1: #ad9c7f;
  --2: #4a3728;
  --3: #e6dbcaf2;
  --4: #eadccd33;
  --r: #c00;
  --a: #0b4fd5;
  --x: #c74a23;
  --d: #2d806e;
  --s: #fff;
  --k: #efefef;
  --kt: #2c1810;
  --kh: #d2d2d2;
  --r1: .5rem;
  --r2: .75rem;
  --r3: 1rem;
  --r4: 1.25rem;
  --r5: 1.75rem;
}

.dark {
  color-scheme: dark;
  --b: #1d1f20;
  --t: #ededed;
  --h: #f8f7f7;
  --1: #303030;
  --2: #808080;
  --3: #404040;
  --4: #1a1d1e;
  --r: #e15668;
  --a: #5c88c1;
  --x: #d66b79;
  --d: #1a9e86;
  --s: #3b3b3b;
  --k: #404040;
  --kt: #f8f7f7;
  --kh: #222426;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, sans-serif;
  font-size: clamp(15.05px, calc(14.392px + .2056vw), 17.2px);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

input, button, select {
  font-family: inherit;
  font-size: inherit;
}

body {
  color: var(--t);
  background-color: var(--b);
}

header {
  margin: 2.5rem 0;
}

h1 {
  font-size: clamp(1.5rem, 1.6rem + 1vw, 2.3rem);
}

.lead {
  font-size: clamp(1rem, 1.1rem + .4vw, 1.4rem);
  font-weight: 300;
  margin: var(--r2) 0 var(--r5) 0;
}

h2, h3 {
  font-size: 1.5rem;
  margin: var(--r5) 0 var(--r1);
}

h2 + h3, p {
  margin-top: var(--r2);
}

h4 {
  font-size: 1.125rem;
  margin: 1.5rem 0 var(--r1);
}

ul {
  list-style-type: none;
}

.list {
  list-style-type: disc;
  margin: var(--r2) 0 var(--r1) var(--r5);
}

a {
  color: var(--a);
  text-decoration: none;
}

svg {
  display: block;
}

.btn {
  padding: .25rem var(--r1);
  height: 2rem;
  color: var(--kt);
  background-color: var(--k);
  border: 1px solid var(--2);
  border-radius: 5px;
}

nav {
  border-bottom: 2px solid var(--2);
}

.nav {
  width: 100%;
  min-height: 3.75rem;
  margin: 0 var(--r1);
  align-items: center;
}

.nav ul {
  margin-left: auto;
  gap: var(--r1);
}

.nav a {
  display: inline-flex;
  padding: 0 var(--r1);
  align-items: center;
  height: 2.7rem;
}

.nav svg {
  width: 1.7rem;
  height: 1.7rem;
}

#menu {
  width: 3.4375rem;
  height: 2.8rem;
  background-color: var(--b);
  border: 2px solid var(--2);
  border-radius: 5px;
}

#menu svg {
  width: 2.125rem;
  height: 2.125rem;
}

.sidebar {
  position: fixed;
  top: .4375rem;
  width: 17rem;
  max-height: calc(100vh - .875rem);
  flex-direction: column;
  background-color: var(--b);
  border: 2px solid var(--2);
  border-left-width: 0;
  border-radius: 0 10px 10px 0;
  transform: translateX(-103%);
  z-index: 2;
}

.sidebar[aria-hidden="false"] {
  transform: translateX(0);
}

main {
  width: min(100% - var(--r4), 87rem);
  margin-inline: auto;
}

kbd {
  font-size: .9rem;
  padding: .15em .45em;
  color: var(--kt);
  background-color: var(--k);
  border: 1px solid var(--2);
  border-radius: 3px;
  box-shadow: 0 1px 0 var(--2);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: var(--r1);
}

.toc {
  margin-bottom: var(--r5);
  background: none;
  border-bottom: none;
}

.col {
  position: relative;
  margin-right: var(--r1);
  width: 2.2rem;
  height: 1.75rem;
  flex-shrink: 0;
  vertical-align: text-bottom;
}

.col::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border: solid var(--h);
  border-width: 0 3px 3px 0;
  transform: translateY(-2px) rotate(45deg);
}

.col[aria-expanded="true"]::before {
  transform: translateY(2px) rotate(-135deg);
}

.tw {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--r3)
}

caption {
  margin-bottom: var(--r1);
}

th, td {
  padding: .7rem;
  border: 1px solid var(--2);
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: var(--4);
}

tr:hover {
  td, th[scope="row"] {
    background-color: var(--3);
  }
}

#scroll {
  position: absolute;
  top: 500px;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

#up {
  position: fixed;
  right: var(--r4);
  bottom: var(--r4);
  padding: var(--r1);
  height: auto;
  border: 2px solid var(--2);
  border-radius: 50%;
  opacity: 0;
  transform: translateY(100px);
}

.flex {
  display: flex;
}

.ac {
  align-items: center;
}

.jc {
  justify-content: center;
}

header, footer, th, td {
  text-align: center;
}

caption, th[scope="row"] {
  text-align: left;
}

html, .sh h2, .toc {
  line-height: 1.6;
}

h3, h4, nav a {
  line-height: 1.15;
}

.sh h2, h2, h3, h4, nav a, caption, strong {
  font-weight: 600;
}

nav, .sh, th[scope="col"] {
  background-color: var(--1);
}

h1, h2, h3, h3 a, nav a, #menu svg, .close svg {
  color: var(--h);
}

.sidebar, .toc, .tw {
  contain: layout;
}

.f {
  display: none !important;
}

footer {
  padding: var(--r4) 0 var(--r1);
  font-size: .8rem;
}
