/* VARIABLES 
------------ */
:root {
  /* COLORS: b:background, t:text, h:heading, 1:primary, 2:secondary, 3:tertiary, 4:hover-tablerow r:red, a:anchor/link, x:not-checked, d:done, s:select, k:btn, kt:btn-text, kh:btn-hover
  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  --b: #fff9eb;
  --t: #2c1810;
  --h: #423124;
  --1: #ad9c7f;
  --2: #4a3728;
  --3: #e6dbcaf2;
  --4: #eadccd33;
  --r: #ca0202;
  --a: #0042bd;
  --x: #c24d29;
  --d: #2e7f6a;
  --s: #ffffff;
  --k: #efefef;
  --kt: #2c1810;
  --kh: #d2d2d2;

  /* SPACING 
  ---------- */
  --r1: .5rem;
  --r2: .75rem;
  --r3: 1rem;
  --r4: 1.25rem;
  --r5: 1.75rem;
}

/* DARK MODE
------------  */
.dark {
  color-scheme: dark;
  --b: #222426;
  --t: #e0e0e0;
  --h: #f8f7f7;
  --1: #303030;
  --2: #808080;
  --3: #404040;
  --4: #292a2c4d;
  --r: #ea6173;
  --a: #81b2ee;
  --x: #e9586b;
  --d: #11a78b;
  --s: #3b3b3b;
  --k: #404040;
  --kt: #f8f7f7;
  --kh: #222426;
}

/* ANIMATIONS 
------------- */
@media (prefers-reduced-motion: no-preference) {
  .sidebar {
    transition: transform .3s ease;
  }

  #up {
    transition: opacity .2s ease-out, transform .2s ease-out;
  }
}

/* DEFAULTS 
----------- */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus-visible {
  outline: 2px solid var(--h);
  border-radius: 2px;
}

html {
  font-family: system-ui, sans-serif;
  font-size: clamp(15.05px, calc(14.392px + .2056vw), 17.2px);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

input, button, select {
  font-family: inherit;
  font-size: inherit;
}

body {
  color: var(--t);
  background-color: var(--b);
}

header {
  margin: 2.5rem 0;
}

h1 {
  font-size: clamp(1.5rem, 1.6rem + 1vw, 2.3rem);
}

.lead {
  font-size: clamp(1rem, 1.1rem + .4vw, 1.4rem);
  font-weight: 300;
  margin: var(--r2) 0 var(--r5) 0;
}

h2, h3 {
  font-size: 1.5rem;
  margin: var(--r5) 0 var(--r1);
}

h2 + h3, p {
  margin-top: var(--r2);
}

h4 {
  font-size: 1.125rem;
  margin: 1.5rem 0 var(--r1);
}

ol {
  margin: var(--r2) 0 var(--r1) var(--r5);

  & ul {
    list-style-type: disc;
  }
}

ul {
  list-style-type: none;
}

li ul {
  padding-left: var(--r5);
}

a {
  color: var(--a);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

kbd {
  padding: .15em .45em;
  color: var(--kt);
  background-color: var(--k);
  border: 1px solid var(--2);
  border-radius: 3px;
  box-shadow: 0 1px 0 var(--2);
}

svg {
  display: block;
}

button, .btn {
  touch-action: manipulation;
}

.btn {
  padding: .25rem var(--r1);
  height: 2rem;
  color: var(--kt);
  background-color: var(--k);
  border: 1px solid var(--2);
  border-radius: 5px;

  &:hover {
    background-color: var(--kh);
  }
}

#up {
  position: fixed;
  right: var(--r4);
  bottom: var(--r4);
  padding: var(--r1);
  height: auto;
  border: 2px solid var(--2);
  border-radius: 50%;
  opacity: 0;
  transform: translateY(100px);

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  & svg {
    width: var(--r5);
    height: var(--r5);
  }
}

#search, select {
  width: 100%;
  height: 2.375rem;
  padding: 0 .5em;
  color: var(--kt);
  background-color: var(--s);
  border: 1px solid grey;
  border-radius: 5px;
}

#search, .options h2, select {
  margin-bottom: var(--r2);
}

/* NAVIGATION 
------------- */
nav {
  border-bottom: 2px solid var(--2);

  & a:hover {
    text-decoration: none;
  }
}

.nav {
  width: 100%;
  min-height: 3.75rem;
  margin-inline: var(--r1);
  align-items: center;

  & ul {
    margin-left: auto;
    gap: var(--r1);
  }

  & a {
    display: inline-flex;
    padding-inline: var(--r1);
    align-items: center;
    height: 2.7rem;

    &:hover {
      background-color: var(--b);
      border-radius: 5px;
    }
  }

  & svg {
    width: 1.7rem;
    height: 1.7rem;
  }
}

#menu {
  width: 3.4375rem;
  height: 2.8rem;
  padding: .5em;
  background-color: var(--b);
  border: 2px solid var(--2);
  border-radius: 5px;

  & svg {
    width: 2.125rem;
    height: 2.125rem;
  }
}

/* SIDEBAR 
---------- */
.sidebar {
  position: fixed;
  top: .4375rem;
  width: 17rem;
  max-height: 100vh;
  flex-direction: column;
  background-color: var(--b);
  border: 2px solid var(--2);
  border-left-width: 0;
  border-radius: 0 10px 10px 0;
  transform: translateX(-103%);
  z-index: 2;

  &[aria-hidden="false"] {
    transform: translateX(0);
  }
}

.sh {
  min-height: 3.3125rem;
  border-top-right-radius: 7px;
  border-bottom: 2px solid var(--2);

  & h2 {
    margin: 0;
  }
 }

.close {
  position: absolute;
  top: var(--r2);
  right: .3125rem;
  width: 2.375rem;
  height: 2.125rem;
  background: none;
  border: none;

  &:hover {
    background-color: var(--b);
  }

  & svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.sheets {
  padding: var(--r1);
  overflow-y: auto;
  overscroll-behavior: contain;

  & li {
    border-bottom: 1px dotted var(--2);
  }
  
  & li:hover {
    background-color: var(--3);
    border-radius: .25em;
  }

  & a {
    display: block;
    padding: var(--r2);
  }
}

/* CONTAINERS 
------------- */
main {
  width: min(100% - var(--r4), 87rem);
  margin-inline: auto;
}

footer {
  padding: var(--r4) 0 var(--r1);
  font-size: .8rem;
}

/* OPTIONS 
---------- */
.filter {
  display: flex;
  flex-wrap: wrap;
  gap: var(--r1);
}

.options label {
  padding: .3rem 0 var(--r1) 0;
}

.mgm {
  margin-bottom: var(--r3);
}

/* CHECKLISTS
------------- */
.toc {
  margin-bottom: var(--r5);
  background: none;
  border-bottom: none;

  & a:hover {
    text-decoration: underline;
  }
}

hr {
  position: relative;
  margin: .3rem 0;
  width: 15rem;
  border: 0;
  text-align: center;
}

hr::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--h), transparent);
}

hr::after {
  content: attr(data-content);
  position: relative;
  padding: 0 1rem;
  color: var(--h);
  background: var(--b);
}

nav span, h2 span, h3 span {
  margin-left: var(--r1);
  padding: 0 .2em .065em .2em;
  color: var(--b);
  background-color: var(--x);
  border-radius: .25em;
  font-size: .9em;
}

.d {
  background-color: var(--d);
}

#hide svg {
  width: 1.5rem;
  height: 1.5rem;
}

#showSvg, .hide #hideSvg {
  display: block;
}

#hideSvg, .hide #showSvg {
  display: none;
}

.col {
  position: relative;
  margin-right: var(--r1);
  width: 2.2rem;
  height: 1.75rem;
  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border: solid var(--h);
    border-width: 0 3px 3px 0;
    transform: translateY(-2px) rotate(45deg);
  }

  &[aria-expanded="true"]::before {
    transform: translateY(2px) rotate(-135deg);
  }
}

label {
  display: inline-block;
  padding: .16rem 0 .16rem 2.75rem;
}

input[type="checkbox"] {
  position: absolute;
  left: var(--r3);
  top: .4rem;
  width: 20px;
  height: 20px;
  accent-color: var(--d);
}

@media (hover: hover) {
  input[type="checkbox"]:hover {
    transform: scale(1.1);
  }
}

.c > label {
  text-decoration: line-through;
}

/* TABLES
--------- */
.tw {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--r3)
}

caption {
  margin-bottom: var(--r1);
}

th, td {
  padding: .7rem;
  border: 1px solid var(--2);
}

tr:nth-child(even) {
  background-color: var(--4);
}

tr:hover {
  td, th[scope="row"] {
    background-color: var(--3);
  }
}

/* UTILITY
---------- */
.flex { display: flex; }
.ac { align-items: center; }
.jc { justify-content: center; }
.list { list-style-type: disc; margin: var(--r2) 0 var(--r1) var(--r5); }
.r { color: var(--r); }
.g { color: var(--d); }
.h, h1, h2, h3, h3 a, h4, h4 a, strong, nav a, footer a, caption, th[scope="col"], .lead, .toc a, #menu svg, .close svg { color: var(--h); }
nav, .sh, th[scope="col"] { background-color: var(--1); }

/* REPEATED 
------------- */
header, footer, th, td { text-align: center; }
caption, th[scope="row"] { text-align: left; }
ol, kbd { font-size: .9rem; }
html, label, .sh h2, .toc { line-height: 1.6; }
h3, h4, nav a { line-height: 1.15; }
.sh h2, h2, h3, h4, nav a, nav span, caption, strong { font-weight: 600; }
select, button, input[type="checkbox"], label { cursor: pointer; }
.f, .hide .c > label, .hide .c > input[type="checkbox"] { display: none !important; }
li { position: relative; }
form > ul, .sidebar, .toc, .tw { contain: layout; }

/* PRINT
-------- */
@media print {
  :root {
    --b: #fff;
    --t: #000;
    --h: #000;
    --r: #000;
    --d: #000;
    --a: #000;
    --k: #fff;
    --kt: #000;
  }

  nav, .toc h2, .toc span, input[type="checkbox"], footer, search, .filter, h3 button, h3 span, #up, .alert {
    display: none !important;
  }

  label {
    padding: 0;
    text-decoration: none !important;
  }

  a {
    text-decoration: underline;
  }

  .toc {
    display: block !important;
  }
}

/* FESTIVE */
.snowflake {
  position: fixed;
  top: -10%;
  font-family: Arial, sans-serif;
  font-size: .7em;
  text-shadow: 0 0 3px #000;
  color: #fff;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
  animation-name: shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  z-index: 9999;
}

.snowflake, .snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes fall {
  0% { transform:translateY(0); }
  100% { transform:translateY(110vh); }
}

@keyframes shake {
  0%, 100% { transform:translateX(0); }
  50% { transform:translateX(80px); }
}

.snowflake .inner {
  animation-duration: 7s;
  animation-name: fall;
  animation-timing-function: linear;
}

.snowflake:nth-of-type(1) { left: 10%; animation-delay: 1s; }
.snowflake:nth-of-type(1) .inner { animation-delay: 1s; }

.snowflake:nth-of-type(2) { left: 95%; animation-delay: .7s; }
.snowflake:nth-of-type(2) .inner { animation-delay: 7s; }

.snowflake:nth-of-type(3) { left: 20%; animation-delay: .5s; }
.snowflake:nth-of-type(3) .inner { animation-delay: 6s; }

.snowflake:nth-of-type(4) { left: 30%; animation-delay: 2s; }
.snowflake:nth-of-type(4) .inner { animation-delay: 4s; }

.snowflake:nth-of-type(5) { left: 40%; animation-delay: 2s; }
.snowflake:nth-of-type(5) .inner { animation-delay: 2s; }

.snowflake:nth-of-type(6) { left: 50%; animation-delay: 3s; }
.snowflake:nth-of-type(6) .inner { animation-delay: 8s; }

.snowflake:nth-of-type(7) { left: 60%; animation-delay: 2s; }
.snowflake:nth-of-type(7) .inner { animation-delay: 6s; }

.snowflake:nth-of-type(8) { left: 70%; animation-delay: 1s; }
.snowflake:nth-of-type(8) .inner { animation-delay: 2.5s; }

.snowflake:nth-of-type(9) { left: 80%; animation-delay: 0s; }
.snowflake:nth-of-type(9) .inner { animation-delay: 1s; }

.snowflake:nth-of-type(10) { left: 90%; animation-delay: 1.5s; }
.snowflake:nth-of-type(10) .inner { animation-delay: 3s; }

.snowflake:nth-of-type(11) { left: 25%; animation-delay: 0s; }
.snowflake:nth-of-type(11) .inner { animation-delay: 2s; }

.snowflake:nth-of-type(12) { left: 65%; animation-delay: 2.5s; }
.snowflake:nth-of-type(12) .inner { animation-delay: 4s; }

.snowflake:nth-of-type(13) { left: 5%; animation-delay: 2s; }
.snowflake:nth-of-type(13) .inner { animation-delay: 5s; }

.snowflake:nth-of-type(14) { left: 15%; animation-delay: 1.2s; }
.snowflake:nth-of-type(14) .inner { animation-delay: 4.2s; }

.snowflake:nth-of-type(15) { left: 35%; animation-delay: .8s; }
.snowflake:nth-of-type(15) .inner { animation-delay: 6.5s; }

.snowflake:nth-of-type(16) { left: 45%; animation-delay: 2s; }
.snowflake:nth-of-type(16) .inner { animation-delay: 6.1s; }

.snowflake:nth-of-type(17) { left: 85%; animation-delay: .5s; }
.snowflake:nth-of-type(17) .inner { animation-delay: 5.5s; }

@media (prefers-reduced-motion: reduce) {
  .snowflake, .snowflake .inner { animation: none !important; }
}

@media (hover: none), (pointer: coarse) {
  .snowflake {
    display: none;
  }
}
/* FESTIVE END */
