# tools
_headers
.assetsignore
.wrangler
wrangler.jsonc

# crawling
robots.txt
sitemap.xml

# assets
images/*
apple-touch-icon.png
favicon.ico
favicon.svg

# css
404.css
index.css
legacy.css
main.*.css
options.css
resources.css
sheets.css

# js
goatcounter.js
main.*.js

# html
404.html
index.html
