/* VARIABLES
------------ */
@font-face {
  font-family: sheets;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/sheets.woff2') format('woff2');
}

:root {
  color-scheme: light dark;
  font-family: sheets, system-ui, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

[data-theme=light] {
  color-scheme: light;
  --background: oklch(0.99 0.012 90);
  --text: oklch(from var(--background) 0.2 0.005 h);
  --search: oklch(from var(--background) l 0 h);
  --button: oklch(from var(--background) calc(l - 0.03) calc(c - 0.010) h);

  --nav: oklch(0.72 0.038 90);
  --nav-text: oklch(from var(--nav) calc(l - 0.4) c h);
  --nav-border: var(--nav-text);
}

[data-theme=dark] {
  color-scheme: dark;
  --background: oklch(0.23 0.002 200);
  --text: oklch(from var(--background) 0.926 c h);
  --search: oklch(from var(--background) calc(l + 0.09) c h);
  --button: oklch(from var(--background) calc(l + 0.11) c h);

  --nav: oklch(from var(--background) calc(l + 0.05) c h);
  --nav-text: oklch(from var(--nav) calc(l + 0.65) c h);
  --nav-border: oklch(from var(--nav) calc(l + 0.25) c h);
}

:focus-visible {
  border-radius: 0.0625rem;
  outline: 0.125rem solid var(--nav-text);
}

/* DEFAULTS
----------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, 0.986rem + 0.064vi, 1.063rem);
  font-weight: 400;
  line-height: 1.6;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: var(--background);
  color: var(--text);
}

h1 {
  font-size: clamp(2rem, 1.942rem + 0.256vi, 2.25rem);
  line-height: 1.3;
}

h2 {
  font-size: 1.45rem;
}

h3 {
  margin-block: 1.5rem 0.75rem;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

/* SHARED
--------- */
nav a,
h2,
h3 {
  font-weight: 500;
}

select,
.btn {
  color: inherit;
  border-radius: 0.3125rem;
  font-family: inherit;
  font-size: inherit;
}

/* COMPONENTS
------------- */
#skip-link {
  position: absolute;
  transform: translateY(-120%);
}

nav {
  display: flex;
  background-color: var(--nav);
  border-bottom: 0.125rem solid var(--nav-border);
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 4rem;
  margin-inline: 0.5rem;
}

#menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.45rem;
  height: 2.8rem;
  background-color: var(--background);
  border: 0.125rem solid var(--nav-border);
  border-radius: 0.3125rem;
}

#menu-icon {
  width: 2.125rem;
  height: 2.125rem;
  color: var(--nav-text);
}

.nav-list {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  list-style-type: none;
}

.nav-list a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-inline: 0.5rem;
  color: var(--nav-text);
  line-height: 1;
}

.nav-list svg {
  width: 1.6rem;
  height: 1.6rem;
}

#sidebar {
  position: fixed;
  transform: translateX(-105%);
}

#sidebar[aria-hidden=false] {
  transform: translateX(0);
}

main {
  width: min(100% - 7vi, 70rem);
  margin-inline: auto;
}

header {
  margin-block: 2.5rem;
  text-align: center;
}

#lead {
  margin-block: 0.75rem 1.75rem;
  font-size: clamp(1.125rem, 1.096rem + 0.128vi, 1.25rem);
  font-weight: 300;
  text-wrap: balance;
}

label {
  display: inline-block;
  padding-block: 0.3rem;
}

select {
  width: 100%;
  height: 2.375rem;
  margin-bottom: 0.75rem;
  padding-inline: 0.5em;
  background-color: var(--search);
  border: 1px solid oklch(from var(--nav-border) l c h / 0.6);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--button);
  border: 0.0625rem solid var(--nav-border);
}
