/* VARIABLES
------------ */
@font-face {
  font-family: sheets;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/sheets.woff2') format('woff2');
}

:root {
  color-scheme: light dark;
  font-family: sheets, system-ui, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'tnum' 1;
}

[data-theme=light] {
  color-scheme: light;
  --background: oklch(0.99 0.012 90);
  --text: oklch(from var(--background) 0.2 0.005 h);
  --button: oklch(from var(--background) calc(l - 0.03) calc(c - 0.010) h);

  --nav: oklch(0.72 0.038 90);
  --nav-text: oklch(from var(--nav) calc(l - 0.4) c h);
  --nav-border: var(--nav-text);
  --row-even: oklch(from var(--nav) calc(l + 0.25) calc(c - 0.023) h);

  --link: oklch(0.54 0.21 260);

  --strong: 550;
}

[data-theme=dark] {
  color-scheme: dark;
  --background: oklch(0.23 0.002 200);
  --text: oklch(from var(--background) 0.926 c h);
  --button: oklch(from var(--background) calc(l + 0.11) c h);

  --nav: oklch(from var(--background) calc(l + 0.05) c h);
  --nav-text: oklch(from var(--nav) calc(l + 0.65) c h);
  --nav-border: oklch(from var(--nav) calc(l + 0.25) c h);
  --row-even: oklch(from var(--background) calc(l - 0.012) c h);

  --link: oklch(0.612 0.1 250);

  --strong: 600;
}

:focus-visible {
  border-radius: 0.0625rem;
  outline: 0.125rem solid var(--nav-text);
}

/* DEFAULTS
----------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, 0.986rem + 0.064vi, 1.063rem);
  font-weight: 400;
  line-height: 1.6;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-wrap: pretty;
}

body {
  background-color: var(--background);
  color: var(--text);
}

h1 {
  font-size: clamp(2rem, 1.942rem + 0.256vi, 2.25rem);
  line-height: 1.3;
}

h2 {
  margin-bottom: 0.25rem;
  font-size: 1.45rem;
}

h3 {
  margin-block: 1.75rem 0.5rem;
  font-size: 1.4rem;
  line-height: 1.4;
}

h4 {
  margin-top: 1.5rem;
  font-size: 1.125rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

/* SHARED
--------- */
nav a,
h2,
h3,
h4,
caption {
  font-weight: 500;
}

strong {
  font-weight: var(--strong);
}

header,
th,
td,
#x6 th[scope=row],
#x7 th[scope=row] {
  text-align: center;
}

caption,
th[scope=row] {
  text-align: left;
}

/* COMPONENTS
------------- */
#skip-link {
  position: absolute;
  transform: translateY(-120%);
}

nav {
  display: flex;
  background-color: var(--nav);
  border-bottom: 0.125rem solid var(--nav-border);
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 4rem;
  margin-inline: 0.5rem;
}

#menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.45rem;
  height: 2.8rem;
  background-color: var(--background);
  border: 0.125rem solid var(--nav-border);
  border-radius: 0.3125rem;
}

#menu-icon {
  width: 2.125rem;
  height: 2.125rem;
  color: var(--nav-text);
}

.nav-list {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.nav-list a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-inline: 0.5rem;
  color: var(--nav-text);
  line-height: 1;
}

.nav-list svg {
  width: 1.6rem;
  height: 1.6rem;
}

#sidebar {
  position: fixed;
  transform: translateX(-105%);
}

#sidebar[aria-hidden=false] {
  transform: translateX(0);
}

main {
  width: min(100% - 7vi, 70rem);
  margin-inline: auto;
}

header {
  margin-block: 2.5rem;
}

#lead {
  margin-block: 0.75rem 1.75rem;
  font-size: clamp(1.125rem, 1.096rem + 0.128vi, 1.25rem);
  font-weight: 300;
  text-wrap: balance;
}

#toc {
  display: block;
  margin-bottom: 1.75rem;
  background: none;
  border-bottom: none;
}

#toc a {
  color: var(--text);
}

#filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--button);
  color: inherit;
  border: 0.0625rem solid var(--nav-border);
  border-radius: 0.3125rem;
  font-family: inherit;
  font-size: inherit;
}

.collapse-btn {
  position: relative;
  margin-right: 0.5rem;
  width: 2.2rem;
  height: 1.8rem;
  vertical-align: text-bottom;
}

.collapse-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 0.6rem;
  height: 0.6rem;
  margin: auto;
  border-style: solid;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: translateY(-0.125rem) rotate(45deg);
}

.collapse-btn[aria-expanded=true]::before {
  transform: translateY(0.125rem) rotate(-135deg);
}

.collapsed {
  display: none !important;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

caption {
  margin-bottom: 0.5rem;
}

tr:nth-child(even) {
  background-color: var(--row-even);
}

th[scope=col] {
  background-color: var(--nav);
}

th,
td {
  padding: 0.7rem;
  border: 1px solid var(--nav-border);
  font-weight: 400;
}

#vigor {
  margin-top: 1rem;
}

kbd {
  padding: 0.15em 0.45em;
  font-size: 0.9rem;
  white-space: nowrap;
}

ul {
  list-style-type: none;
}

.list {
  list-style-type: disc;
  margin: 0.75rem 0 0.5rem 1.75rem;
}

#scroll-observer {
  position: absolute;
  top: 31.25rem;
}
